
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-graysh-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

 
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

body {
  min-height: 100vh;
  font-family: "Space Mono", serif;
  font-weight: 700;
  display: flex;
  background-color: var(--light-grayish-cyan); 
  align-items:center;
  text-align: center;
  justify-content: center;
  align-content: center;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
    color: var(--dark-grayish-cyan);
    display: block;
}
#app {

}