
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-graysh-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
#app{
  max-width: 90rem;
  padding: 2rem;
  text-align: center;
  place-items: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;

}
*,
*::before,
*::after {
  list-style-type: none;
  font-family: "Space Mono", monospace;
  font-weight: var(--font-weight-bold);
  box-sizing: inherit;
  transform: scale(1);
  transform-origin: 0 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body, html{
  box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 -moz-text-size-adjust: none;
 -webkit-text-size-adjust: none;
 font-synthesis: none;
 text-rendering: optimizeSpeed;
 text-size-adjust: none; 
 margin: 0;
 padding: 0;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
  background-color: var(--light-grayish-cyan);
}
button {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border: none;
  padding: 0.5rem  1rem;
  border-radius: 10px;
  font-size: 1.6rem;
  place-items: center;
  cursor: pointer;
}
button.active {
  background-color: var(--strong-cyan);
}
button:hover{
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}
label {
  color: var(--dark-grayish-cyan);
  display: flex;
  margin-top: 1rem;
}

input {
  width: 100%;
  height: 55px;
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: right;
  border: none;
  border-radius: 10px;
  background-color:var(--very-light-graysh-cyan); 
  color: var(--very-dark-cyan);
  transition: all 300ms ease-in-out;
  padding-right: 20px;
  cursor: pointer;
}
input:hover, 
input:active,
input:focus {
  outline: 1px solid var(--white);
  border-radius: 5px;
  border-style: solid;
  border-color: var(--strong-cyan);
} 
input::placeholder {
  color: var(--dark-grayish-cyan);   
}
/* Make images easier to work with */
img,
picture,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: top center;
  zoom: 1;
}
/* Improve line wrapping */
p,
input,
span {
  text-wrap: pretty;
}
footer{
  font-size: clamp(0.88rem, 0.83rem + 0.19vw, 1rem);
  color: var(--dark-grayish-cyan);
  font-weight: var(--font-weight-bold);
}
footer a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
@media (hover: hover) {
  a:hover {
    transition: color 0.3s;
    text-decoration: underline;
    color: var(--very-dark-cyan);
  }


}